 

[groups]

sld_editor =

    js/codemirror-4.3/lib/codemirror.css
    js/codemirror-4.3/lib/codemirror.js
    js/codemirror-4.3/mode/xml/xml.js
    js/style/sld_editor.js

export =

    css/vectorstorer.css

    js/export/export.js
    js/jquery-ui-autocomplete/jquery-ui.js
    js/jquery-ui-autocomplete/jquery-ui.css



