[groups]

sld_editor =
    vendor/codemirror-4.3/lib/codemirror.css
    vendor/codemirror-4.3/lib/codemirror.js
    vendor/codemirror-4.3/mode/xml/xml.js
    js/style/sld_editor.js

export =
    vendor/jquery-ui-autocomplete/jquery-ui.js
    vendor/jquery-ui-autocomplete/jquery-ui.css

    js/export/export.js
    css/vectorstorer.css


